body{
	background: url(2.jpg);
	background-size: cover;
	background-position: 50% 20%;
	
}


nav{

	padding-top: 20px;
	padding-right: 10px;

}


li{
	
	list-style: none;
	display: inline-block;
	padding-right: 55px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;}

a:link {
  color:#ff7e20 ;
   text-decoration: none;
   
}

a:visited{
	color:#ff7e20 ;
   text-decoration: none;
 /*  font-size: 20px;*/
}

a:hover{
     color: #ff7e20;
     text-decoration: underline;
     
}
.container{
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  text-align: center;
  color: white;
   }

em{
	border: solid #ff7e20;
	padding-right: 3%;
	padding-left: 3%;
	padding-top: 1%;
	padding-bottom: 1%;
	
	background: #ff7e20;
	color: white;
	font-size: 45%;
	font-style: normal;
	font-family: 'Montserrat', sans-serif;
	
}

strong{
	font-weight: normal;
	padding-top: 70px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;

}



